*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;

body{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}

.header{
    background-color: hsl(217, 28%, 15%);
    padding: 2em 1em;
    font-size: 1em;

    &__ul{
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
                align-items: center;
    }

    &__li{
        list-style: none;
        margin-left: 1.1em;
    }

    &__li:first-child{
        width: 30%;
        margin-top: 3px;
        margin-left: 0px;
        margin-right: auto;
    }

    &__logo{
        width: 100%;
    }

    &__link{
        text-decoration: none;
        color: #fff;
    }

    &__img{
        padding: 3em 1em;
        width: 100%;
    }

    
}

.hero{
    text-align: center;
    background-color: hsl(217, 28%, 15%);
    background-image: url(../images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;  
    background-position: bottom center;
        
    &__img{
        padding: 2em 1.5em 3em;
        width: 100%;
        }
        
    &__copyright{
        padding: 2em;
        
    
    }

    &__heading{
        padding: 0 1em 1em;
        font-size: 1.8em;
        line-height: 1.7em;
        font-family: 'Raleway', sans-serif;
    }

    &__paragraph{
        padding: 0 2em 1.5em;
        font-size: 1.2em;
        line-height: 1.6em;

    }
}

// ***********BUTTON***********
.btn{
    border-radius: 50px;
    padding: 1em 5em;
    border: none;
    color: #fff;
    background: -webkit-gradient(linear,left top, right top,from(hsl(176, 68%, 64%)), color-stop(80%, hsl(198, 60%, 50%)));
    background: linear-gradient(left,hsl(176, 68%, 64%), hsl(198, 60%, 50%) 80%);
    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
    width: 70%;
}

// ***SERVICES***

.services{
    text-align: center;
    background-color: hsl(218, 28%, 13%);

    &__box{
        padding: 3em 2em 5em;
    }

    &__heading{
        padding: 1.8em 0 1em;
        font-size: 1.6em;
    }

    &__paragraph{
        font-size: 1.2em;
    }
}

// ***PRODUCTIVE***

.productive{
    padding: 2em;
    background-color: hsl(218, 28%, 13%);

    &__img{
        width: 100%;
        text-align: center;
    }

    &__heading{
        font-size: 1.3em;
        padding-top: 2em;
    }

    &__paragraph{
        font-size: 1.2em;
        padding: 1em 0;
    }

    &__link{
        text-decoration: none;
        background-image: url(../images/icon-arrow.svg);
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 25px;
        color: hsl(176, 68%, 64%);
        border-bottom: 1px solid hsl(176, 68%, 64%);
        font-size: 1.1em;

        &:hover{
            font-size: 1.3em;
        }

    }
}

// ***TESTIMONIAL***

.testimonial{
    padding: 5em 0 10em;
    background-color: hsl(218, 28%, 13%);

    &__qoute-icon{
        width: 5%;
        margin-left: 10%;
    }

    &__box{
        background-color: hsl(219, 30%, 18%);
        width: 80%;
        height: auto;
        padding: 2em;
        margin: 0 auto 2em;
        border-radius: 5px;
    }

    &__paragraph{
        padding: 0 0 1em;
        font-size: .9em;
        line-height: 1.8em;
    }

    &__author{
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
        padding-top: 1em;
    }

    &__author-img{
        border-radius: 50%;
        width: 15%;
        margin-right: 10px;
    }

    &__author-heading{
        font-size: 1.1em;
        letter-spacing: 1px;
    }

    &__author-paragraph{
        color: rgb(198, 198, 198);
        font-size: .8em;
    }

}

.access{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, hsl(218, 28%, 13%)), color-stop(50%, hsl(216, 53%, 9%)));
    background: linear-gradient(hsl(218, 28%, 13%) 50%, hsl(216, 53%, 9%) 50%);
}

.access__card{
    background-color: hsl(217, 28%, 15%);
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    border-radius: 5px;

    &-heading{
        font-size: 1.5em;
        padding-top: 1em;
    }

    &-paragraph{
        padding: 2em 1em;
    }
}
.access-form{

    &__input{
    border-radius: 50px;
    padding: 1em;
    width: 100%;
    border: none;
    font-size: 1.1em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1.5em;
    color: rgb(162, 162, 162);
    }
}

.btn--secondery{
    width: 100%;
    padding: 1em;
}

// ***FOOTER***

.footer{
    padding: 4em 1em 2em;
    background-color: hsl(216, 53%, 9%);
    font-size: 1.3em;

    .find-us{
        padding: 1em;

        &__box{
            display: -webkit-box;
            display: flex;
            padding: .8em 0;
        }

        &__icon{
            background: url(../images/icon-location.svg) no-repeat;
            display: block;
            height: 25px;
            width: 20px;
            background-size: 20px 25px;
            padding-right: 2.5em;

            &--location{
                margin-top: 8px;
                }

            &--phone{
                background: url(../images/icon-phone.svg) no-repeat;
                margin-top: 4px;
            }

            &--email{
                background: url(../images/icon-email.svg) no-repeat;
                margin-top: 8px;
            }

        }
    }

    &__ul{
        list-style: none;
        padding: 1em;
        line-height: 2em;
    }
    
    &__a{
        text-decoration: none;
        color: #fff;
    }

    &__social{
        text-align: center;
        padding: 3em 1em;

        &-icon{
            width: 15%;
        }
    }

    .attribution{
        text-align: center;
        padding-top: 2em;

        a{
            color: #fff;;
        }
    }
}

@media (min-width:1199px){
    body{
        font-size: 20px;
    }

    .header{
        padding: 2em 3em;
        

        &__logo{
            width: 30%;
        }

        &__li{
            margin-left: 2.5em;
        }
    }

    .hero{
        background-image: url(../images/bg-curvy-desktop.svg);
        height: 100%;
        

        &__copyright{
            margin: 0 auto;
            width: 60%;
            text-align: center;
        }

        &__heading{
            font-size: 2.5em;
        }

        &__paragraph{
            width: 60%;
            margin: 0 auto;
        }

        &__img{
            width: 40%;
        }

    }

    .btn{
        width: 40%;
    }

    .services{
        padding-top: 4em;

        &__col{
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: space-evenly;
                justify-content: space-evenly;
        }

        &__box{
          width: 30vw;
          
        }
    }

    .productive{
        padding: 8em 6em;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
        

        &__img{
            width: 60%;
        }

        &__heading{
            font-size: 2.2em;
            width: 45%;
            letter-spacing: 3px;
        }
    }

    .testimonial{
        font-size: 1.2em;

        &__qoute-icon{
            width: 3%;
            position: relative;
            left: 38px;
            top: 25px;
        }

        &__boxes{
            display: -webkit-box;
            display: flex;
            margin: 0 auto;
            width: 80%;
        }

        &__box{
            margin: 0 1.5em;
        }
    }

    .access{
        
        &__card{
            width: 70%;
        }
    }

    .access-form{
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;

        &__input{
            width: 60%;
            
        }
    }
}