* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.header {
  background-color: #1c2431;
  padding: 2em 1em;
  font-size: 1em;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.header__li {
  list-style: none;
  margin-left: 1.1em;
}

.header__li:first-child {
  width: 30%;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: auto;
}

.header__logo {
  width: 100%;
}

.header__link {
  text-decoration: none;
  color: #fff;
}

.header__img {
  padding: 3em 1em;
  width: 100%;
}

.hero {
  text-align: center;
  background-image: url(../images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  width: 100%;
  height: 48vh;
  background-color: #1c2431;
}

.hero__img {
  padding: 2em 1.5em 3em;
  width: 100%;
}

.hero__copyright {
  padding: 2em;
}

.hero__heading {
  padding: 0 1em 1em;
  font-size: 1.8em;
  line-height: 1.7em;
  font-family: 'Raleway', sans-serif;
}

.hero__paragraph {
  padding: 0 2em 1.5em;
  font-size: 1.2em;
  line-height: 1.6em;
}

.btn {
  border-radius: 50px;
  padding: 1em 5em;
  border: none;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), color-stop(80%, #339ecc));
  background: linear-gradient(left, #65e2d9, #339ecc 80%);
  font-size: 1.1em;
  font-family: 'Raleway', sans-serif;
  width: 70%;
}

.services {
  text-align: center;
  padding-top: 35vh;
  background-color: #181f2a;
}

.services__box {
  padding: 3em 2em 5em;
}

.services__heading {
  padding: 1.8em 0 1em;
  font-size: 1.6em;
}

.services__paragraph {
  font-size: 1.2em;
}

.productive {
  padding: 2em;
  background-color: #181f2a;
}

.productive__img {
  width: 100%;
  text-align: center;
}

.productive__heading {
  font-size: 1.3em;
  padding-top: 2em;
}

.productive__paragraph {
  font-size: 1.2em;
  padding: 1em 0;
}

.productive__link {
  text-decoration: none;
  background-image: url(../images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 25px;
  color: #65e2d9;
  border-bottom: 1px solid #65e2d9;
  font-size: 1.1em;
}

.productive__link:hover {
  font-size: 1.3em;
}

.testimonial {
  padding: 5em 0 10em;
  background-color: #181f2a;
}

.testimonial__qoute-icon {
  width: 5%;
  margin-left: 10%;
}

.testimonial__box {
  background-color: #202a3c;
  width: 80%;
  height: auto;
  padding: 2em;
  margin: 0 auto 2em;
  border-radius: 5px;
}

.testimonial__paragraph {
  padding: 0 0 1em;
  font-size: .9em;
  line-height: 1.8em;
}

.testimonial__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 1em;
}

.testimonial__author-img {
  border-radius: 50%;
  width: 15%;
  margin-right: 10px;
}

.testimonial__author-heading {
  font-size: 1.1em;
  letter-spacing: 1px;
}

.testimonial__author-paragraph {
  color: #c6c6c6;
  font-size: .8em;
}

.access {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #181f2a), color-stop(50%, #0b1523));
  background: linear-gradient(#181f2a 50%, #0b1523 50%);
}

.access__card {
  background-color: #1c2431;
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  border-radius: 5px;
}

.access__card-heading {
  font-size: 1.5em;
  padding-top: 1em;
}

.access__card-paragraph {
  padding: 2em 1em;
}

.access-form__input {
  border-radius: 50px;
  padding: 1em;
  width: 100%;
  border: none;
  font-size: 1.1em;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 1.5em;
  color: #a2a2a2;
}

.btn--secondery {
  width: 100%;
  padding: 1em;
}

.footer {
  padding: 4em 1em 2em;
  background-color: #0b1523;
  font-size: 1.3em;
}

.footer .find-us {
  padding: 1em;
}

.footer .find-us__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .8em 0;
}

.footer .find-us__icon {
  background: url(../images/icon-location.svg) no-repeat;
  display: block;
  height: 25px;
  width: 20px;
  background-size: 20px 25px;
  padding-right: 2.5em;
}

.footer .find-us__icon--location {
  margin-top: 8px;
}

.footer .find-us__icon--phone {
  background: url(../images/icon-phone.svg) no-repeat;
  margin-top: 4px;
}

.footer .find-us__icon--email {
  background: url(../images/icon-email.svg) no-repeat;
  margin-top: 8px;
}

.footer__ul {
  list-style: none;
  padding: 1em;
  line-height: 2em;
}

.footer__a {
  text-decoration: none;
  color: #fff;
}

.footer__social {
  text-align: center;
  padding: 3em 1em;
}

.footer__social-icon {
  width: 15%;
}

.footer .attribution {
  text-align: center;
  padding-top: 2em;
}

.footer .attribution a {
  color: #fff;
}

@media (min-width: 1199px) {
  body {
    font-size: 20px;
  }
  .header {
    padding: 2em 3em;
  }
  .header__logo {
    width: 30%;
  }
  .header__li {
    margin-left: 2.5em;
  }
  .hero {
    background-image: url(../images/bg-curvy-desktop.svg);
    height: 100%;
  }
  .hero__copyright {
    margin: 0 auto;
    width: 60%;
    text-align: center;
  }
  .hero__heading {
    font-size: 2.5em;
  }
  .hero__paragraph {
    width: 60%;
    margin: 0 auto;
  }
  .hero__img {
    width: 40%;
  }
  .btn {
    width: 40%;
  }
  .services {
    padding-top: 4em;
  }
  .services__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
  }
  .services__box {
    width: 30vw;
  }
  .productive {
    padding: 8em 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
  }
  .productive__img {
    width: 50%;
  }
  .productive__heading {
    font-size: 2.2em;
    width: 45%;
    letter-spacing: 3px;
  }
}
/*# sourceMappingURL=style.css.map */